reformer_pytorch
patool
transformers
pandas
scikit-learn
matplotlib
statsmodels
numpy
# --extra-index-url https://download.pytorch.org/whl/cu122
torch==1.13.0
torchvision==0.14.0
torchaudio==0.13.0
# PyTorch, torchvision, and torchaudio with CUDA 11.6 support can be installed using the following command:
# pip install torch==1.13.0+cu116 torchvision==0.14.0+cu122 torchaudio==0.13.0 --extra-index-url https://download.pytorch.org/whl/cu116
peft
huggingface_hub
omegaconf